.navbar {
  opacity: 0.7;
}

#home-heading {
  background: url("../img/header-img.jpg") center center / cover no-repeat;
  position: relative;
  min-height: 550px;
  background-attachment: fixed;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 450px;
}

#showcase hr {
  width: 75%;
  height: 0.1em;
}

#intro .rounded-circle {
  width: 100%;
  height: 100%;
}

#services .card-body {
  height: 100%;
}
#services .card-body:hover {
  background: #28a745;
  color: #fff;
  border: 1px solid #fff;
}

#portfolio .port-item {
  width: 120px;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 500px;
  }
}
