    <!-- FOOTER -->
    <section id="main-footer" class="p-4 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <a href="https://libertyuniv-my.sharepoint.com/:b:/g/personal/ebizimana_liberty_edu/Ef0V6-WMrfpIowYWcRRsfTIBba_xX2NK_YaXLMyOQpuIHA?e=V2OgNn" class="btn btn-outline-secondary">
                  <i class="fas fa-cloud"></i> Download Resume
              </a>
              <p class="pt-2">Copyright &copy; <span id="year"></span> Elie Profile</p>
            </div>
          </div>
        </div>
    </section>
  
      <!-- JS SCRIPS -->
  
      <!-- JQUERY -->
      <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
      >
      </script>
      <!-- POOPER -->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <!-- BOOTSTRAP 4 -->
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"
      ></script>
      <!-- SLICK -->
      <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js">
      </script>
      <!-- LIGHTBOX -->
      <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js">
      </script>
  
      <!-- CUSTOM JS -->
      <script src="/mainJs.js"></script>
    </body>
  </html>
