<% include partials/header %>


    <!-- INTRODUCTION -->
      <section id="intro" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3 align-self-center">
              <img src="img/Elie-profile-picture.jpg" alt="" class="img-fluid rounded-circle">
              <div class="d-flex justify-content-center">
                <div>
                  <a href="https://github.com/ebizimana" data-toggle="popover" data-placement="bottom" data-content="github.com/ebizimana" class="text-dark">
                    <i class="fab fa-github fa-3x mr-3 mt-3"></i>
                  </a>
                </div>
                <div>
                  <a href="#" data-toggle="popover" data-placement="bottom" data-content="(276) 312-0375" class="text-dark">
                      <i class="fas fa-mobile fa-3x mr-3 mt-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9 text-dark">
              <hr class="w-50">
              <h3 class="text-center">HELLO</h3>
              <hr class="w-50">
              <h3>Elie Bizimana</h3>
              <h5>Hello I'm Elie Bizimana,<strong> Graphic & Web Designer</strong></h5>
              <p class="lead">I have designed multiple web and mobile applications both front and back end. I am a <a href="http://liberty.edu">Liberty University</a>  graduate in Computer Science . Born and raised in Rwanda and fluate in three languages. </p>
              <p class="lead">My skills and limitations are represented in the projects I have finished. I have linked my <a href="https://github.com/ebizimana">Github account</a> to present the projects I have worked on and show how many language I can program in.</p>
            </div>
          </div>
        </div>
      </section>
    
    <!-- SERVICES -->
    <section id="services" class="py-5 bg-dark">
      <div class="container">
        <hr class="w-50 bg-light">
        <h1 class="text-center text-white display-4"><strong>SERVICES</strong></h1>
        <hr class="w-50 bg-light mb-5">
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items-center text-center">
              <i class="fas fa-laptop fa-3x d-block"></i>
              <h5 class="display-5 mt-3"><strong>WEB DEVELOPMENT</strong></h5>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, doloribus eaque. Expedita tenetur in, reprehenderit labore recusandae ipsum voluptas laboriosam!</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items-center text-center">
              <i class="fas fa-road fa-3x d-block"></i>
              <h5 class="display-5 mt-3"><strong>ONLINE MARKETING</strong></h5>
              <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque ad nihil ipsa tempore minima dolore reiciendis sit odio enim quos.</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items-center text-center">
              <i class="fas fa-desktop fa-3x d-block"></i>
              <h5 class="display-5 mt-3"><strong>WEB MASTER</strong></h5>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet dignissimos alias illum rem maiores. Quasi culpa ipsum illum eos.</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items center text-center">
              <i class="fas fa-trophy fa-3x d-block"></i>
              <h5 class="display-5 mt-3"><strong>LOGO DESIGN</strong></h5>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita velit inventore illo quis voluptate animi repellat cupiditate at sunt excepturi!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items center text-center">
              <i class="far fa-file-archive fa-3x d-block"></i>
              <h5 class="mt-3"><strong>SUPPORT SERVICE</strong></h5>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus blanditiis, provident est aliquam eaque impedit voluptatibus ducimus quo exercitationem vero.</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items center text-center">
              <i class="fab fa-dropbox fa-3x d-block"></i>
              <h5 class="mt-3"><strong>HOSTING & SERVER</strong></h5>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus blanditiis, provident est aliquam eaque impedit voluptatibus ducimus quo exercitationem vero.</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items center text-center">
              <i class="fab fa-empire fa-3x d-block"></i>
              <h5 class="mt-3"><strong>COPYWRITE</strong></h5>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus blanditiis, provident est aliquam eaque impedit voluptatibus ducimus quo exercitationem vero.</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card card-body align-items center text-center">
              <i class="fas fa-globe fa-3x d-block"></i>
              <h5 class="mt-3"><strong>OPENSOURCE WEB</strong></h5>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus blanditiis, provident est aliquam eaque impedit voluptatibus ducimus quo exercitationem vero.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PORTFOLIO -->
    <section id="portfolio" class="py-5">
      <div class="container">
        <hr class="w-50 bg-dark">
        <h1 class="text-center display-4"><strong>MY PORTFOLIO</strong></h1>
        <hr class="w-50 bg-dark mb-5">

        <!-- ACTIONS -->
        <div class="d-flex justify-content-center">
          <button class="btn btn-dark port-item mr-3" data-toggle="collapse" data-target="#all">All</button>
          <button class="btn btn-dark port-item mr-3" data-toggle="collapse" data-target="#nodeJs">NodeJs</button> 
          <button class="btn btn-dark port-item mr-3" data-toggle="collapse" data-target="#BS4">BootStrap 4</button>
          <button class="btn btn-dark port-item mr-3" data-toggle="collapse" data-target="#wordpress">WORDPRESS</button>    
        </div>

        <div class="collapse mt-5 show" id="all">
          <div class="row mb-4">
            <div class="col-md-4">
              <a href="https://rocky-plains-84807.herokuapp.com/" data-toggle="lightbox">
                <img src="img/Yelp_Camp.PNG" alt=""  class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://secret-citadel-58523.herokuapp.com/" data-toggle="lightbox">
                <img src="img/Color_Game.png" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
                <div class="circle-overlay">
                  <p class="display-5 align-self-end circle-text">Can You</p>
                  <a href="https://github.com/ebizimana/circles">
                    <img src="img/Circles_App.png" alt="" class="img-fluid">
                  </a>
                </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <a href="https://github.com/ebizimana/glozzom">
                <img src="img/Glozoom_Theme.png" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox">
                <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://source.unsplash.com/random/566x566">
                <img src="https://source.unsplash.com/random/566x566" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <a href="https://source.unsplash.com/random/567x567">
                <img src="https://source.unsplash.com/random/567x567" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://source.unsplash.com/random/568x568">
                <img src="https://source.unsplash.com/random/568x568" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://source.unsplash.com/random/569x569">
                <img src="https://source.unsplash.com/random/569x569" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        </div>

        <div class="collapse mt-5" id="nodeJs">
          <div class="row mb-4">
              <div class="col-md-4">
                <a href="https://rocky-plains-84807.herokuapp.com/">
                  <img src="img/Yelp_Camp.PNG" alt=""  class="img-fluid">
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://secret-citadel-58523.herokuapp.com/">
                  <img src="img/Color_Game.png" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://github.com/ebizimana/circles">
                  <img src="img/Circles_App.png" alt="" class="img-fluid">
                </a>
              </div>
          </div>
        </div>
        
        <div class="collapse mt-5" id="BS4">
          <div class="row mb-4">
              <div class="col-md-4">
                  <a href="https://source.unsplash.com/random/564x564">
                    <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="https://source.unsplash.com/random/565x565">
                    <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="https://source.unsplash.com/random/566x566">
                    <img src="https://source.unsplash.com/random/566x566" alt="" class="img-fluid">
                  </a>
                </div>
          </div>
        </div>

        <div class="collapse mt-5" id="wordpress">
          <div class="row mb-4">
              <div class="col-md-4">
                <a href="https://source.unsplash.com/random/567x567">
                  <img src="https://source.unsplash.com/random/567x567" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://source.unsplash.com/random/568x568">
                  <img src="https://source.unsplash.com/random/568x568" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://source.unsplash.com/random/569x569">
                  <img src="https://source.unsplash.com/random/569x569" alt="" class="img-fluid">
                </a>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- BLOG -->
    <section id="blogs" class="py-5 bg-dark text-white">
      <div class="container">
        <hr class="w-75 bg-light">
        <h1 class="text-center display-4"><strong>MY THOUGHTS</strong></h1>
        <hr class="w-75 bg-light">
        <p class="lead text-center mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, autem.</p>

        <!-- ACCORDION -->
        <div class="row">
          <div class="col-md-6">
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseOne" data-toggle="collapse" data-parent="accordion"> Blog One</a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam doloremque asperiores nam accusamus pariatur, commodi consectetur nesciunt sunt eaque debitis aliquam quasi distinctio? Magnam facilis iste voluptate nihil ut maiores!</div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseTwo" data-toggle="collapse" data-parent="accordion">Blog Two</a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa autem voluptates pariatur alias dolores ab dolor iste aspernatur provident, placeat magni totam, asperiores assumenda praesentium eius debitis nisi quas?
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseThree" data-toggle="collapse" data-parent="accordion">Blog Three</a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatum eum aliquid cupiditate repudiandae deleniti eaque sapiente dolores blanditiis? Deserunt doloribus maxime repudiandae voluptatem vero veritatis vel magni sequi beatae.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseFour" data-toggle="collapse" data-parent="accordion"> Blog Four</a>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam doloremque asperiores nam accusamus pariatur, commodi consectetur nesciunt sunt eaque debitis aliquam quasi distinctio? Magnam facilis iste voluptate nihil ut maiores!</div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseFive" data-toggle="collapse" data-parent="accordion">Blog Five</a>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa autem voluptates pariatur alias dolores ab dolor iste aspernatur provident, placeat magni totam, asperiores assumenda praesentium eius debitis nisi quas?
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <a href="#collapseSix" data-toggle="collapse" data-parent="accordion">Blog Six</a>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatum eum aliquid cupiditate repudiandae deleniti eaque sapiente dolores blanditiis? Deserunt doloribus maxime repudiandae voluptatem vero veritatis vel magni sequi beatae.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col text-center">
            <a href="#" class="btn btn-outline-secondary w-50 btn-lg mt-4">Read More</a>
          </div>
        </div>

      </div>
    </section>

    <!-- ACHIVEMENTS -->
    <section id="achiev" class="py-5">
      <div class="container">
        <h2 class="text-center">Achievements</h2>
        <hr class="w-50">
        <div class="row text-center">
          <div class="col">
            <div class="slider">
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0 pt-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, optio.
                  </p>
                  <footer class="blockquote-footer">
                    John Doe From
                    <cite title="Company 1">Company 1</cite>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, veritatis!  
                  </p>
                  <footer class="blockquote-footer">
                    Sam Smith From 
                    <cite title="Company 2">Company 2</cite>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, ea.
                  </p>
                  <footer class="blockquote-footer">
                    Meghan Williams From
                    <cite title="Company 3">Company 3</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<% include partials/footer %>
