<% include partials/header %>

<!-- INTRODUCTION -->
<section id="intro" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 align-self-center">
        <img
          src="img/Elie-profile-picture.jpg"
          alt=""
          class="img-fluid rounded-circle"
        />
        <div class="d-flex justify-content-center">
          <div>
            <a
              href="https://github.com/ebizimana"
              data-toggle="popover"
              data-placement="bottom"
              data-content="github.com/ebizimana"
              class="text-dark"
            >
              <i class="fab fa-github fa-3x mr-3 mt-3"></i>
            </a>
          </div>
          <div>
            <a
              href="#"
              data-toggle="popover"
              data-placement="bottom"
              data-content="ebizimana@liberty.edu"
              class="text-dark"
            >
              <i class="fas fa-envelope fa-3x mr-3 mt-4"></i>
            </a>
          </div>
          <div>
            <a
              href="#"
              data-toggle="popover"
              data-placement="bottom"
              data-content="(276) 312-0375"
              class="text-dark"
            >
              <i class="fas fa-mobile fa-3x mr-3 mt-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-9 text-dark">
        <hr class="w-50" />
        <h3 class="text-center">HELLO</h3>
        <hr class="w-50" />
        <h3>Elie Bizimana</h3>
        <h5>
          Hello I'm Elie Bizimana,<strong> Graphic & Web Designer</strong>
        </h5>
        <p class="lead">
          I have designed multiple web and mobile applications both front and
          back end. I am a
          <a href="http://liberty.edu">Liberty University</a> graduate in
          Computer Science . Born and raised in Rwanda and fluate in three
          languages.
        </p>
        <p class="lead">
          My skills and limitations are represented in the projects I have
          finished. I have linked my
          <a href="https://github.com/ebizimana">Github account</a> to present
          the projects I have worked on and show how many languages I can program
          in.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- THINK TANK -->
<section id="tank" class="py-5 bg-dark">
  <div class="container">
    <hr class="w-50 bg-danger" />
    <h1 class="text-center text-white display-4"><strong>THINK TANK</strong></h1>
    <hr class="w-50 bg-danger" />
    <p class="lead text-center text-white">This are some of my public ideas, that are either under development or am thinking to develop.</p>
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card card-body align-items-center text-center">
          <i class="fas fa-laptop fa-3x d-block"></i>
          <h5 class="display-5 mt-3"><strong>Surmon HUB</strong></h5>
          <p class="lead">
            One Place for most if not all of your favorite surmones. Instead of the hustle of going to hunt for surmons on youtube or spending multiple hours on google to figure out when this pastor taught about this. You can connect to a well designed,  great user freindly surmon hub. 
          </p>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card card-body align-items-center text-center">
          <i class="fas fa-road fa-3x d-block"></i>
          <h5 class="display-5 mt-3"><strong>Church On</strong></h5>
          <p class="lead">
            This is an organization that helps church planters do what they like, and leave all other necessary but yet annoying task to us. As a new church planter you have so much to take care but so little time. Come visit our website, and we offer you three packages that helps your mission. First Package: Web, Mobile and Social. We built a beautiful yet simple website for your new church, that is accampined with a new, responsive, beautiful designed mobile app for both IOS and Android. We build your social status and connect you with all the important social networks. 
          </p>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card card-body align-items-center text-center">
          <i class="fas fa-desktop fa-3x d-block"></i>
          <h5 class="display-5 mt-3"><strong>Smart Dresser</strong></h5>
          <p class="lead">
            Smart Dresser is your own online dresser. With a simple scan it will recognize your current cloths and organize them in different catergories. Smart Dresser will help you pick out an offite in the morning, will help you pick out a future outfit that matches with the clothes you currently have in your dressser. and it will sort your clothes by the seasons and by the tomorrow's weather. Once you connect it to your schedule it can help you pick out an outfit that match your test, that is in your bagdet and that goes with the task you have for the day. Smart Dresser, Dress for the day.
          </p>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card card-body align-items center text-center">
          <i class="fas fa-trophy fa-3x d-block"></i>
          <h5 class="display-5 mt-3"><strong>Easy Shop</strong></h5>
          <p class="lead">
            Easy Shop is a website and a mobile app, that helps you shop fast, easy and efficiently. Easy shop makes sure you get in and out of the malls as fast as possible. Put the list of items you looking for, and Easy Shop will give you an indoor map with directions of your current mall to get to all your items, starting with the item near you. No more asking for strangers where things are, no more starting to buy things that you never wanted in the first place because you couldn't find your items, and no more going to the mall when they are out of the items you looking for. Easy Shop takes the current location and takes your shopping list and compares the prices and can tell you according to all the shopping places near you wich one has the cheapest of what you are looking for. Easy Shop can compare prices and distance. 
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <a href="#" class="btn btn-outline-danger text-white">For More Info</a>
      </div>
    </div>
  </div>
</section>

<!-- PORTFOLIO -->
<section id="portfolio" class="py-5">
  <div class="container">
    <hr class="w-50 bg-dark" />
    <h1 class="text-center display-4"><strong>MY PORTFOLIO</strong></h1>
    <hr class="w-50 bg-dark mb-5" />

    <!-- ACTIONS -->
    <div class="d-flex justify-content-center">
      <button
        class="btn btn-dark port-item mr-3"
        data-toggle="collapse"
        data-target="#all"
      >
        All
      </button>
      <button
        class="btn btn-dark port-item mr-3"
        data-toggle="collapse"
        data-target="#nodeJs"
      >
        NodeJs
      </button>
      <button
        class="btn btn-dark port-item mr-3"
        data-toggle="collapse"
        data-target="#BS4"
      >
        BootStrap 4
      </button>
      <button
        class="btn btn-dark port-item mr-3"
        data-toggle="collapse"
        data-target="#IOS"
      >
        IOS
      </button>
    </div>

    <div class="collapse mt-5 show" id="all">
      <div class="row mb-4">
        <div class="col-md-4">
          <a
            href="https://rocky-plains-84807.herokuapp.com/"
            data-toggle="lightbox"
          >
            <img src="img/Yelp_Camp.PNG" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="https://secret-citadel-58523.herokuapp.com/"
            data-toggle="lightbox"
          >
            <img src="img/Color_Game.png" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/circles" class="overlay">
            <img src="img/Circles_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/glozzom" class="overlay">
            <img src="img/Glozoom_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/miuxe" class="overlay">
            <img src="img/Mizuxe_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/John_Doe" class="overlay">
            <img src="img/Profile_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/BitcoinTicker" class="overlay">
            <img src="img/Bitcoin_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/Clima" class="overlay">
            <img src="img/Weather_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/Quizzler" class="overlay">
            <img src="img/Quiz_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="collapse mt-5" id="nodeJs">
      <div class="row mb-4">
        <div class="col-md-4">
          <a
            href="https://rocky-plains-84807.herokuapp.com/"
            data-toggle="lightbox"
          >
            <img src="img/Yelp_Camp.PNG" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="https://secret-citadel-58523.herokuapp.com/"
            data-toggle="lightbox"
          >
            <img src="img/Color_Game.png" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/circles" class="overlay">
            <img src="img/Circles_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="collapse mt-5" id="BS4">
      <div class="row mb-4">
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/glozzom" class="overlay">
            <img src="img/Glozoom_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/miuxe" class="overlay">
            <img src="img/Mizuxe_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/John_Doe" class="overlay">
            <img src="img/Profile_Theme.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="collapse mt-5" id="IOS">
      <div class="row mb-4">
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/BitcoinTicker" class="overlay">
            <img src="img/Bitcoin_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/Clima" class="overlay">
            <img src="img/Weather_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 box">
          <a href="https://github.com/ebizimana/Quizzler" class="overlay">
            <img src="img/Quiz_App.png" alt="" class="img-fluid" />
            <div class="center hide text-white">
              <i class="fas fa-plus-circle d-block fa-2x"></i>
              <p class="lead mt-2">Visit my github for more info...</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <a
          href="https://github.com/ebizimana"
          class="btn btn-outline-dark text-right"
          >Visit My Github for More</a
        >
      </div>
    </div>
  </div>
</section>

<!-- BLOG -->
<section id="blogs" class="py-5 bg-dark text-white">
  <div class="container">
    <hr class="w-75 bg-light" />
    <h1 class="text-center display-4"><strong>MY THOUGHTS</strong></h1>
    <hr class="w-75 bg-light" />
    <p class="lead text-center mb-5">
      This is some few of my writtings, the present the way I perseive and
      understand the world; They show my intrest and passion; and capture my
      overwhelming desire to pursue the truth and understand the world that we
      live in.
    </p>

    <!-- ACCORDION -->
    <div class="row">
      <div class="col-md-6">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseOne"
                  data-toggle="collapse"
                  data-parent="accordion"
                >
                  The Old man with his Son
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse">
              <div class="card-body">
                Son, come closer with that candle, so I can share with you four
                stories, three decisions, two concepts, and one scenario. Now,
                pay close attention. Love and Justice Our first story was named
                properly to be "The prostitute shown love." Many moons back
                there was a prostitute in town. She had sinned and broken the
                law of Moses, so when they presented her to Jesus, He had two
                decisions: either to punish her as the law stated or to forgive
                her. If Jesus showed her love, mercy, and forgave her and then
                tried to convince the Pharisees to do the same then He would
                have directly undermined the law and doing so undermined the
                whole Justice department that He was supposedly supposed to
                uphold. In condemning her by punishment and following the law of
                Moses concerning adultery, then He would have left the love city
                in the process...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseTwo"
                  data-toggle="collapse"
                  data-parent="accordion"
                  >They were Kids too
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse">
              <div class="card-body">
                You know they were kids too, before all of that, they were just
                innocent kids. They used to love the bus because there were many
                people, and they could be mesmerized about small things, silly
                things, you know. They never used to want that much, just my
                attention used to put them at ease and make them feel safe. They
                were all once like you too, you know. Before the addiction, the
                compulsory smoking and unending drinking, they used to be good,
                Elie, like really good, with dreams, ambitions, goals, to do
                lists, and all of that. They used to have it all...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseThree"
                  data-toggle="collapse"
                  data-parent="accordion"
                  >The Evolution of Adam</a
                >
              </h5>
            </div>
            <div id="collapseThree" class="collapse">
              <div class="card-body">
                One day we wake up, and we tell ourselves that murder is evil,
                but under the right circumstances, it is justifiable (in other
                words, "good"). As we walk down the street, we see people half
                naked, and we think that it is acceptable by the culture card
                (in other words "good"). As we get to work, calling your
                colleague a man is an unforgivable sin under the freedom of
                transgender (in other words calling a born man "woman" is
                "good"). Well, when the day gets stressful, and you want to bow
                your head down and pray to the one that created you, that’s a
                big NO-NO my friend (in other words "evil")...
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseFour"
                  data-toggle="collapse"
                  data-parent="accordion"
                >
                  A letter to the ancestors
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse">
              <div class="card-body">
                To the Giants of faith, to the soldiers of the truth, to the
                teachers of the Word and to all the great ancestors that walked
                this earth, us the living we great you. I thought an update was
                of due. I am sorry to be the one to tell you that the faith you
                fought for, the bravery you demonstrated, the principals you
                died for and the morals you left with us have all gone,
                everything has been lost. Ooh don't get me wrong we still fight
                just not for faith, not for righteousness, definitely not for
                holiness. No we fight: for unit, equality and individuality.
                Unity because we started thinking color is the judge of
                superiority; equality because at some point we thought women
                were lesser being; individuality because a man just want to
                marry another man without being judged. Well I do miss the old
                times too. ..
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseFive"
                  data-toggle="collapse"
                  data-parent="accordion"
                  >To me
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse">
              <div class="card-body">
                To my crazy dreams, I say "here I come" To my dreadful past, I
                say "I am over you" To my heart, I say "speak up" To my future,
                I say "I am in way" To my friends, I say "Thank you" To my
                family, I say "you are welcome" To my God, I say " Amen."...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a
                  href="#collapseSix"
                  data-toggle="collapse"
                  data-parent="accordion"
                  >A man at the end of His Rope</a
                >
              </h5>
            </div>
            <div id="collapseSix" class="collapse">
              <div class="card-body">
                If we look at our lives we can always pinpoint that time where
                we left Him, around that specific moment. Because in the start,
                He was our best friend. We ran to him for help, and we could not
                leave His presence. In case of trouble, we could hide right
                behind His scary stature, and we know we will be safe. If
                anything good happened, He was the first person to know, and He
                was always the last person to talk to before we went into a deep
                sleep. He was always there, and we were always there. It was a
                perfect, authentic, beautiful relationship. He carried us,
                taught us all we know, opened every single door, and walked us
                through every single step of the way....
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col text-center">
        <a href="#" class="btn btn-outline-danger w-50 btn-lg mt-4"
          >Read More</a
        >
      </div>
    </div>
  </div>
</section>

<!-- ACHIVEMENTS -->
<section id="achiev" class="py-5">s
  <div class="container">
    <h2 class="text-center">Achievements</h2>
    <hr class="w-50" />
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div class="d-flex">
            <div class="col-md-2">
              <img
                src="img/mms-logo.png"
                alt=""
                class="img-fluid rounded-circle"
                style="background: black;"
              />
            </div>
            <div class="col-md-10">
              <blockquote class="blockquote">
                <p class="mb-0">
                  I obtained my Highschool diploma at Mountain Mission School in
                  May of 2013. I was there for One year
                </p>
                <footer class="blockquote-footer">
                  President: Chris Slone
                  <cite title="Company 2"
                    ><a href="https://mmskids.org/"
                      >Visit Their Website</a
                    ></cite
                  >
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="d-flex">
            <div class="col-md-2">
              <img
                src="img/lu-logo.png"
                alt=""
                class="img-fluid rounded-circle"
                style="background: black;"
              />
            </div>
            <div class="col-md-10">
              <blockquote class="blockquote">
                <p class="mb-0">
                  I obtained my Bachelor of Science in Computer Science at Liberty
                  University in December of 2018. I was there for Four years
                </p>
                <footer class="blockquote-footer">
                  President: Jerry Falwell Jr.
                  <cite title="Company 2"
                    ><a href="https://www.liberty.edu/"
                      >Visit Their Website</a
                    ></cite
                  >
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="d-flex">
            <div class="col-md-2">
              <img
                src="img/udemy-log.png"
                alt=""
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-10">
              <blockquote class="blockquote">
                <p class="mb-0">
                  I obtained several different certificates for web and mobile
                  development from Udemy. Proof of the certificates by request.
                </p>
                <footer class="blockquote-footer">
                  <cite title="Company 2"
                    ><a href="https://www.udemy.com/"
                      >Visit Their Website</a
                    ></cite
                  >
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
