.navbar {
  opacity: 0.7;
}

#home-heading {
  background: url("../img/header-img.jpg") center center / cover no-repeat;
  position: relative;
  min-height: 550px;
  background-attachment: fixed;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 450px;
}

#showcase hr {
  width: 75%;
  height: 0.1em;
}

#intro .rounded-circle {
  width: 100%;
  height: 100%;
}

#tank .card-body {
  height: 100%;
}
#tank .card-body:hover {
  background: #dc3545;
  color: #fff;
  border: 1px solid #fff;
}

#portfolio .port-item {
  width: 120px;
}

#portfolio .box {
  position: relative;
  text-align: center;
  color: #fff;
}

#portfolio .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio .overlay:hover {
  background: black;
  opacity: 0.7;
}

#portfolio .hide {
  display: none;
}

#portfolio .overlay:hover .hide {
  display: block;
}

#blogs .card {
  border: #444;
}

#blogs a {
  color: #fff;
}

#blogs .card-body {
  background: #333;
}

#blogs .card-header {
  background: #333;
  text-align: center !important;
}

#main-footer {
  background: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 500px;
  }
}
